html {
	background-color: #000!important;
}
body {
	background-color: transparent!important;
}
body.wp-admin, body.login {
	background-color: #fff!important;
}
html, body {
	height: 100%;
}

// TWO COLUMN LAYOUT
.left-content, .right-content {
	float: left;
	width: 50%;
	position: relative;
}