p:last-of-type {
	margin-bottom: 0;
}

.headline h1 {
	text-transform: uppercase;
	font-family: "proxima-nova", Proxima Nova, sans-serif;
	position: absolute;
	bottom: -18px;
	left: 0;
	margin-bottom: 0;
	font-weight: 900;
	line-height: 0.8em;
}